/****** Global Styles ******/
body {
    background: #DAF7F6;
    font-family: 'Open Sans';
    font-size: 12px;
    line-height: 16px;
}

h1, h2, h3 {
    color: #F16059;
}

/****** Header Styles ******/
header {
    background-color: white;
    text-align: center;
}

header h1 {
    display: inline-block;
    margin: 0px;
    font-family: 'Montserrat';
    font-size: 48px;
    font-weight: bold;
    text-transform: uppercase;
}

header img {
    margin-right: 10px;
}

/****** Main Styles ******/
main {
    height: 1000px;
    margin: 20px 50px;
}

/*** Card Styles ***/
.card {
    margin: 10px 0px;
    overflow: auto;
}

.image {
    float: left;
    width: 500px;
    height: 550px;
}


.recipe {
    float: left;
    padding: 20px;
    width: 500px;
    height: 550px;
    background-color: white;
    box-sizing: border-box;
}

#cookies .image {
    background-image: url('../img/gluten-free-sugar-cookies.jpg');
}

#pesto .image {
    background-image: url('../img/nut-free-pesto.jpg');
}

#salad .image {
    background-image: url('../img/watermelon-salad.jpg');
}

.image {
    background-size: cover;
}

.recipe h2 {
    font-family: 'Montserrat';
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 10px 0px 20px 0px;
}

.card .time {
    margin-bottom: 1px;
    border: 1px solid #3B3B3B;
    overflow: hidden;
}

/*** Time Styles ***/
.time .prep, .time .cook, .time .total {
    float: left;
    padding-left: 6px;
    width: 33.3333%;
    box-sizing: border-box;
}

.time .cook {
    border-left: 1px solid #3B3B3B;
    border-right: 1px solid #3B3B3B;
}

.time img {
    width: 15px;
    height: auto;
    margin-right: 5px;
    vertical-align: middle;
}

.time strong {
    text-transform: uppercase;
}

.time p {
    text-transform: uppercase;
    display: inline-block;
    margin: 5px 0px;
}

/****** Column Styles ******/
.columns {
    overflow: auto;
}

.columns .directions {
    float: left;
    width: 240px;
}

.columns .ingredients {
    float: left;
    width: 205px;
    margin-right: 4px;
}